<h2>Employee List</h2>
<button routerLink="/employees/add">Add Employee</button>
<div class="container">
    <div *ngFor="let employee of employees; let i = index">
        <div class="card">
            <p class="cookieHeading">{{ employee.name }}</p>
            <p class="cookieDescription">{{ employee.email }} <br> {{ employee.position }}</p>
            <div class="buttonContainer">
            <button [routerLink]="'/employees/edit/' + i" class="acceptButton">Edit</button>
            <button (click)="selectEmployee(i)" class="declineButton">Delete</button>
            </div>
        </div>
    
    </div>
</div>