<h2>Employees list</h2>
<div class="container">
    <div *ngFor="let employee of employees; let i = index">
        <div (click)="selectEmployee(i)" [appHighlight]="'lightblue'" [style.cursor]="'pointer'" class="card">
            <p class="cookieHeading">{{ employee.name }}</p>
            <p class="cookieDescription">{{ employee.email }} <br> {{ employee.position }} <br> {{ employee.hireDate | formatDate }} </p>
            <div class="buttonContainer">
            <button [routerLink]="'/employees/edit/' + i" class="acceptButton">Edit</button>
            <button (click)="deleteEmployee(i)" class="declineButton">Delete</button>
            </div>
        </div>
    
    </div>
</div>