<div class="container">
    <form class="form" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <p class="form-title">{{ isEditMode ? 'Edit Employee' : 'Add Employee' }}</p>
        <div class="input-container">
            <input id="email" formControlName="email" placeholder="Email" />
            <span *ngIf="employeeForm.get('email')?.invalid && employeeForm.get('email')?.touched">
                Valid email is required.
            </span>
        </div>
        <div class="input-container">
            <input placeholder="Name" id="name" formControlName="name" />
            <span *ngIf="employeeForm.get('name')?.invalid && employeeForm.get('name')?.touched">
            Name is required.
            </span>
        </div>
        <div class="input-container">
            <input placeholder="Position" id="position" formControlName="position" />
            <span *ngIf="employeeForm.get('position')?.invalid && employeeForm.get('position')?.touched">
                Valid position is required.
            </span>
        </div>
        <button type="submit" [disabled]="employeeForm.invalid" class="submit">{{ isEditMode ? 'Update' : 'Add' }}</button>

    </form>
</div>